.authenticated {
  display: none;
}

#findResults {
  display: none;
}

#queryTerms {
  display: none;
}


/* Dictionary Entry style */
span.dict-entry-headword {
    font-size: 200%;
    font-weight: normal;
}
span.dict-entry-pinyin {
    font-style: italic;
    font-size: 120%;
}

span.dict-entry-grammar {
    font-size: 120%;
}

span.dict-entry-definition {
    font-size: 120%;
    font-weight: bold;
}

span.dict-entry-notes {
    font-weight: bold;
}

.query-term {
    font-size: 150%;
    font-weight: normal;
}

span.notes-label {
    font-style: italic;
}