<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Translation Portal Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
    <h1>Translation Portal Change Password</h1>
    <a href="/">Home</a>
    {{if or .ShowNewForm (not .ChangeSuccessful)}}
    <div id="ChangePasswordBar">
      <form id="ChangePasswordForm" name="login" action="/loggedin/submitcpwd"
            method="post">
        <p>
          <label for="OldPassword">Old Password</label>
          <input id="OldPassword" name="OldPassword" type="password" required/>
        </p>
        <p>
          <label for="Password">New Password</label>
          <input id="Password" name="Password" type="password" required/>
        </p>
        <p>
          <input id="ChangeButton" nam="ChangeButton" type="submit"
                 value="Change Password"/>
        </p>
      </form>
    </div>
    {{ end }}
    {{if .ChangeSuccessful}}
    <div id="PasswordChangedBar">
      You password has been changed
    </div>
    {{else}}
      {{if not .OldPasswordValid}}
      <div id="ErrorDiv">Your old password is incorrect</div>
      {{else}}
      <div id="ErrorDiv">There was an error changing your password</div>
      {{ end }}
    {{ end }}
  </body>
</html>