<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Translation Portal Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
    <h1>Translation Portal Login</h1>
    <div id="LoginBar">
      <form id="LoginForm" name="login" action="/loggedin/login"
            method="post">
        Login:
        <label for="UserName">User Name</label>
        <input id="UserName" name="UserName" type="text" required/>
        <label for="Password">Password</label>
        <input id="Password" name="Password" type="password" required/>
        <input id="LoginButton" nam="LoginButton" type="submit"
             value="Login"/>
      </form>
    </div>

    <div id="LogoutBar">
      <span id="SessionSpan">
        <a id="LogoutLink" href="/loggedin/logout">Logout</a>
      </span>
    </div>
    <div id="ErrorDiv"></div>
  </body>
</html>