<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Translation Portal Request Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
    <h1>Translation Portal Request Reset Password</h1>
    <a href="/">Home</a>
    <p>
      If you have forgotton your username or password, you may use this page to
      find your username or request of your password.
    </p>
    {{if .ShowNewForm}}
    <div id="RequestResetBar">
      <form id="RequestResetForm" name="RequestResetForm"
            action="/loggedin/request_reset" method="post">
        <p>
          <label for="Email">Email Address</label>
          <input id="Email" name="Email" type="text" required/>
        </p>
        <p>
          <input id="RequestResetButton" nam="RequestResetButton" type="submit"
                 value="Request Password Reset"/>
        </p>
      </form>
    </div>
    {{ end }}
    {{if .RequestResetSuccess}}
    <div id="SentResetSuccessfulBar">
      An email has been sent for password reset. Please check your inbox.
    </div>
    {{else}}
      {{if not .EmailValid}}
      <div id="ErrorDiv">We do not have that email address on file.</div>
      {{end}}
      {{if not .ShowNewForm}}
      <div id="ErrorDiv">There was an error with your request.</div>
      {{end}}
    {{end}}
  </body>
</html>