<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Translation Portal Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
    <h1>Translation Portal Reset Password</h1>
    <a href="/">Home</a>
    {{if eq .Token ""}}
    <div id="NoToken">
      There was a problem with your request. Please try again.
    </div>
    {{else}}
    <div id="ResetPasswordBar">
      <form id="ResetPasswordForm" name="ResetPasswordForm"
            action="/loggedin/reset_password_submit" method="post">
        <input id="Token" name="Token" type="hidden" value="{{.Token}}"/>
        <p>
          <label for="NewPassword">New Password</label>
          <input id="NewPassword" name="NewPassword" type="password" required/>
        </p>
        <p>
          <input id="ResetPasswordButton" nam="ResetPasswordButton" type="submit"
                 value="Reset Password"/>
        </p>
      </form>
    </div>
    {{ end }}
  </body>
</html>