<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Translation Portal Reset Password Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
    <h1>Translation Portal Reset Password Confirmation</h1>
    <a href="/">Home</a>
    {{if .ResetPasswordSuccessful}}
    <div id="ResetPasswordSuccessfulBar">
      Your password has been reset.
    </div>
    {{else}}
      <div id="ErrorDiv">There was an error with your request</div>
    {{ end }}
  </body>
</html>