<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Translation Portal</title>
  </head>
  <body>
  	<p><a href="/">Home</a></p>
  	<h1>Translation Portal</h1>
  	<p>Welcome to the translation portal.</p>
  	<h2>Library</h2>
  	<p><a href="/loggedin/portal_library/portal_library.html">Translation Portal Library</a></p>
  	<h2>Vocabulary</h2>
  	<p><a href="https://docs.google.com/spreadsheets/d/{{.NewVocabSheetID}}/" target="_blank">New Vocabulary</a></p>
  </body>
</html>