<!DOCTYPE html>
<html lang="en" ng-app="textApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chinese language notes">
    <link rel="shortcut icon" href="images/ren.png" type="image/png" />
    <title>Chinese language notes</title>
    <link rel="stylesheet" 
    href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="chinesenotes.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="textCtrl">
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59206430-1', 'auto');
      ga('send', 'pageview');
    </script>
    <div class="starter-template">
      <div class="row">
        <div class="span2"><img id="logo" src="images/ren.png" alt="Logo" 
          class="pull-left"/></div>
        <div class="span7"><header><h1>Chinese Notes</h1></header></div>
      </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" 
          data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="texts.html">Texts</a></li>
            <li><a href="tools.html">Tools</a></li>
            <li><a href="reference.html">Reference</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div>
        <h2>Chinese-English Dictionary Lookup</h2>
        <p>
          Paste Chinese text into the input field below to find each word and
          its meaning.
        </p>
        <form name="textForm" role="form" class="simple-form" 
              ng-submit="submit()">
          <div class="form-group">
            <label for="textInput" class="control-label">Text</label>
            <input type="text" class="form-control" name="text" id="text" 
                  ng-model="formData.text"
                  placeholder="你好！" required/>
          </div>
          <p class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" 
                     href="#collapseOne">
                    Options
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                   <div class="form-group">
                     Match type: 
                     <input type="radio" ng-model="formData.matchtype" 
                            name="matchtype" 
                            id="matchtype-approx" value="approximate"/>
                     <label for="matchtype-approx" 
                          class="control-label">multi-line / approximate</label>
                     <input type="radio" ng-model="formData.matchtype" 
                            name="matchtype" 
                            id="matchtype-partial" value="partial"/>
                     <label for="matchtype-partial" 
                            class="control-label">partial</label>
                     <input type="radio" ng-model="formData.matchtype" 
                            name="matchtype" 
                            id="matchtype-exact" value="exact"/>
                     <label for="matchtype-exact" 
                            class="control-label">exact</label>
                   </div>
                </div>
              </div>
            </div>
          </p>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Search</button>
          </div>
          <span id="lookup-help-block" class="help-block">
            Search for words using Chinese text, English words, or analyze an
            entire text block. Try this example: 奥巴马总统说.
            There is a maximum of 100 characters allowed for text search.
            Either simplified or traditional Chinese can be used for queries.
            Try this traditional Chinese example: 奧巴馬總統說.
            English examples: president, said. 
          </span>
        </form>
        <p ng-if="results.msg">
          {{results.msg}}
        </p>
        <table class="table table-bordered table-hover" ng-if="results.words">
          <caption>Dictionary Search Results</caption>
          <thead>
            <tr>
              <th>Chinese Text</th>
              <th><a href="/syllables_ipa.html" 
                     title="Pinyin and IPA Representations" 
                     target="_window2">Pinyin</a></th>
              <th>English</th>
              <th>Notes</th>
          </tr>
          </thead>
          <tbody>
            <tr ng-repeat="word in results.words">
              <td ng-if="word.count == 0">{{word.text}}</td>
              <td ng-if="word.count > 0"><a 
                  href="words/{{word.headword}}.html">{{word.text}}</a></td>
              <td>{{word.pinyin}}</td>
              <td>{{word.english}}</td>
              <td>
                <span ng-if="word.count == 1">{{word.notes | limitTo: 100}}
                  <a href="words/{{word.headword}}.html">... details</a>
                </span>
                <a ng-if="word.count>1"
                   ng-href="words/{{word.headword}}.html">All {{word.count}} word senses</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="word-detail">&nbsp;</div>

      <hr/>
      <footer>
        <p>
          See the <a href="/abbreviations.html">Abbreviations</a> and 
          <a href="/help.html">Help</a> pages for more
          information on the best use of the dictionary or if you have problems.
          Tell us about 
          <a href="https://docs.google.com/forms/d/1na6e8Qt1UUSZun-ATofn1lNRuwlBfTp2wj5KNDNhJ1s/viewform"
          >a problem</a>.
          Tell us about your experience on this web site using
          <a href="https://docs.google.com/forms/d/1Z_set9ynr0VUSv7PtbHaPFNW_PfIDue6CjlgkbJ3GS8/viewform"
          >this form</a>.
          Add a new word or suggest a change to a dictionary entry defintion with 
          <a href="https://docs.google.com/forms/d/1AcPDJ3CSIyn7MNVDKiMHby4EMPH0g3FxwLRTlJKhxmA/viewform"
          >this form</a>.
          Buddhist text content is at the
          <a href="http://ntireader.org/">NTI Buddhist Text Reader</a>.
        </p>
        <p>
          Copyright Fo Guang Shan Nan Tien Institute 佛光山南天大學 2013-2017, 
          <a href="http://www.nantien.edu.au/" title="Fo Guang Shan Nan Tien 
          Institute">www.nantien.edu.au</a>. 
          This work is licensed under a <a rel="license" 
          href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
          Attribution 4.0 International License</a>. See <a 
          href='about.php'>About</a>. Please send comments to 
          alex@chinesenotes.com.
        </p>
        <p>This page was last updated on 2017-02-06.</p>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-sanitize.js"></script>
    <script src="script/dictionary.js"></script>
  </body>
</html>
