/**
 * Style sheet for PCs.
 */
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
 	color: #444;
 	padding: 40px;
 	max-width: 1100px;
}

body.article {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
 	color: #444;
 	padding: 40px;
 	max-width: 1100px;
}

/* vocabulary */
a.vocabulary {
	vertical-align: top;
}

/* Image in right column */
td.rcolumn {
	vertical-align: top;
}

/* Content in table */
td.content {
	background-color: #F0F0FF;
	border: 1px solid gray;
 	padding: 20px;
}
td.contents {
	background-color: #F0F0FF;
	border: 1px solid gray;
}
/*  Poetry text */
p.poem { 
	text-align: center;
	font-size: 18pt;
}

.poetryNotes { 
	font-size: 10pt;
}

/*  Headers */
h1 { 
	font-family: 'Caisto MT', Georgia, 'Times New Roman', serif;
 	color: #444;
    text-align: center;
	font-weight: normal;
}

h2 { 
 	color: #005A9C;
    text-align: left;
}

h2.animal { 
 	color: red;
    text-align: center;
	font-size: 3em;
}

h2.poem { 
 	color: #444;
	text-align: center;
	font-size: 18pt;
}

h3 { 
 	color: #005A9C;
    text-align: left
}

li.secondLevel {
	list-style-type: lower-alpha;	
}

/* Links */
a {
    text-decoration: none;
}

a:hover { text-decoration: underline; }

img { border: 0; }

.author {
	font-style: italic;
    text-align: center;
}

.source {
    text-align: center;
}

.copy {
	font-style: italic
}

span.bookTitle {
	font-style: italic
}

.breadcrumbs {
 	color: gray;
	padding: 10px;
}

/* Menu system */
.menubar {
	padding: 10px;
}

a.button {
 	color: #444;
    text-decoration: none;
 	background-color: #BBF;
 	padding: 10px;
}

a.button:link, a.button:visited {
 	color: #444;
    text-decoration: none;
 	background-color: #BBF;
 	padding: 10px;
}

a.button:hover, a.button:active {
 	color: white;
    text-decoration: none;
 	background-color: #66F;
 	padding: 10px;
}

a.selected, a.selected:link, a.selected:visited, a.selected:hover, a.selected:active {
 	color: #444;
    text-decoration: none;
 	background-color: #DDF;
 	padding: 10px;
}

/* Previous, next, top navigation */
div.prevNext {
	padding: 10px 10px 0px 10px;
}

table.stroke {
    border-collapse: collapse;
    padding: 0px;
	border: solid gray 1px;
}

th.stroke {
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	padding: 5pt;
	background-color: #CCCCEE;
	border: solid gray 1px;
}

td.stroke {
	vertical-align: top;
	text-align: left;
	padding: 5pt;
    border: solid gray 1px;
}

table.portlet {
	background-color: #F0F0FF;
	border: 1px solid gray;
	padding:0.4em;
    width:80%;
}

th.portlet {
	background-color: #CCCCEE;
	border: 1px solid gray;
}

table.index {
	background-color: #F0F0FF;
	border: 1px solid gray;
	padding: 0.4em;
}

th.index {
	background-color: #CCCCEE;
	border: 1px solid gray;
}

table.grammar {
	background-color: #F0F0FF;
	border: 1px solid gray;
    border-collapse: collapse;
	padding: 0.5em;
	margin-left: auto;
    margin-right: auto;
}

th.grammar {
	background-color: #CCCCEE;
	border: 1px solid gray;
	padding: 0.5em;
}

td.grammar {
	border: 1px solid gray;
	padding: 0.5em;
}

/* Table for showing sentence lookup */
tr.selectedRow {
	background-color: #CCCCEE;
}

span.simplified, span.traditional {
	font-size: 1.6em;
}

caption {
	font-weight: bold;
	padding: 0.5em;
}

h2.portlet {
	color: black;
    margin:0;
    text-align: center
}

h3.portlet {
	color: black;
    text-align: center;
    margin:0;
}

.highlight {
	font-weight: bold;
	color: red;
}

.titlePicture {
	text-align: center;
	padding: 15px;
}

.strokesico {
	border: 0px; 
	width: 17px; 
	height: 13px;
}

.strokeorder {
	text-align: center;
}

.code {
	font-family: "Courier New", Courier, monospace;
	background-color: #dddddd;
	font-size: 0.8em;
	padding: 10px;
	width: 1000px;
}

div.block {
	padding: 0em 0em 0em 2em; 
}

span.literal {
   	color: blue;
}

span.comment {
   	color: green;
}

span.keyword {
   	color: purple;
   	font-weight: bold;
}

div.caption {
	font-weight: bold;
	text-align: center;
	padding: 20px;
}

div.picture {
	text-align: center;
	border: 0;
}

div.picture_header {
	padding: 5px;
	font-weight: bold;
	font-size: larger;
}

div.animal { 
    text-align: center;
}

#animals {
	background-color: #F0F0FF;
	border: 1px solid gray;
	padding:0.4em;
    width: 500px;
	text-align: center;
}

#animalstabbody {
	text-align: left;
}

#numbers {
    width: 500px;
}

#currencyTable {
	background-color: #F0F0FF;
	border: 1px solid gray;
	padding:0.4em;
    width: 800px;
	text-align: center;
}

#currencyTabBody {
	text-align: left;
}

/* Word detail page */
#wordTable {
	background-color: #F0F0FF;
	border: 1px solid gray;
	padding:0.4em;
    width: 800px;
	text-align: center;
}

#wordTabBody {
	text-align: left;
}

h1.wordDetail {
	font-size: 1.2em;
 	color: #444;
	text-align: left;
}

h2.wordDetail {
	font-size: 1.2em;
 	color: #444;
}

#simplifiedDetail {
	font-size: 40pt;	
}

#wordImage {
	float:	right;
}

#map {
	float:	right;
}

.hl {
	color: black;
	font-weight: bold;
}

.ad {
	padding: 15px;
	text-align: center;
}

/* Translated article */
div.box {
	background-color: #F0F0FF;
	border: 1px solid gray;
	padding: 0.5em 1.0em 1.0em 2.0em;
}

div.rtitle {
	text-align: right;
}

h2.article {
	font-size: 1.0em;
 	color: #444;
}

h3.article {
	font-size: 1.0em;
 	color: #444;
}

/* Floating boxes for translated articles */
div.fright {
	float:	right;
	padding: 5px;
}
div.fleft {
	float:	left;
	padding: 10px;
}
div.fclear {
	clear:	both;
}

.use {
	border: none;
}

/* Search page */
div.search {
	text-align: center;
  	padding: 10px;
}

span.category {
	padding: 0.0em 2.0em 0.0em 0.0em;	
}

#searchPhrase {
	display: none;
}

#advancedDiv {
	display: none;
}

#resultsTable {
  	background: #ddf;
  	color: #004;
}

fieldset {
    border: none;
}

#searching {
	text-align: center;
  	padding: 5px;
}

/* Character Detail */
#largeChar {
	font-size: 100pt;
}

#largeCharacter {
	text-align: center;
}

#charDetailPinyin {
	text-align: center;
}

/* Tool Tips */
#toolTip {
	position: absolute;
	max-width: 200px;
	display: none; 
	border: solid gray 1px;
	background-color: #FF8;
	padding: 5px;
}

/* Chaguan / Teahouse*/
/* Act header */
h2.chaguan {
	text-align: center;
 	color: #444;
	font-weight: normal;
}

/* The name of the character speaking */
.renwu {
	font-style: italic;
}

/* The lines that the character reads */
.line {
	margin-left: 125px;
	margin-top: -1em;
}

/* Example sentences */
p.example {
	margin-left: 50px;
}

/* For quotations */
p.quote {
	margin-left: 50px;
}

/* For English text next to Chinese */
p.english, li.english {
	font-size: 0.8em;
}

/* For timeline */
span.year {
	font-weight: bold;
}

#tags {
	font-weight: bold;
}

div.event {
	padding: 10px 10px 0px 10px;
}

div.eventDetail {
	padding: 5px 5px 5px 5px;
}

span.eventSimplified {
	font-weight: bold;
	font-size: 14pt;
}
span.eventEnglish {
	font-weight: bold;
}
span.eventNotes {
	font-size: 10pt;
}
#show_all_span {
	display: none;
}
#show_all_anchor #show_less_anchor {
	font-weight: bold;
	color: gray;
}

/* Table of events */
table.event {
    border-collapse: collapse;
    padding: 0px;
	border: solid gray 1px;
}

td.event {
	text-align: left;
	padding: 5pt;
    border: solid gray 1px;
}